*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;  
  }
  
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* particleground demo */
  
  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    background: #0e011a;
    color: #fff;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
  }
  
  #particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 10px;
    width: 100%;
    text-align: center;
  }
  h2 {
    font-size: 50px;
    font-weight: 270;
    color: #ffffff;
    letter-spacing: 0.05em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 30px;
    font-weight: 200;
    color: #ffffff;
    letter-spacing: 0.05em;
    font-family: 'Poppins', sans-serif;
  }